body {
    background-color: $beige-lighter;
    color: $grey-dark;
    font-family: $family-primary;
}

// card book
.books {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-content {
        .image {
            .is-48X48 {
                svg {
                    height: 48px;
                    width: 48px;
                }
            }
        }
    }
}

// form
// input:invalid{
//     border:solid 2px red;
// }
// input:valid{
//     border:solid 2px green;
// }