body {
    background-color: $beige-lighter;
    color: $grey-dark;
    font-family: $family-primary;
}
//header
.hero {
    flex-direction: row;
    .hero-body {
        .media-right {
            @include mobile {
                flex: 1;
            }
        }
    }
}

// card book
.books {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    @include mobile {
        grid-template-columns: 1fr;
    }
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        .image {
            .is-48X48 {
                svg {
                    height: 48px;
                    width: 48px;
                }
            }
        }
        .media-content {
            overflow: unset;
        }
    }
    .card-footer {
        justify-content: space-between;
        .card-footer-isread {
            padding-left: 5px;
        }
    }
}
.footer {
    padding: 1rem 1.5rem;
}
// modal
.modal-card {
    @include from(tablet) {
        width: 300px;
    }

    .modal-card-head {
        background-color: $purple;
        .modal-card-title {
            color: $white;
        }
    }
    .modal-card-body {
        background-color: $beige-lighter;
    }
}
